/* utility */

.color-white {
	color: #fff;
}

.input-background {
	background: rgba(0, 0, 0, 0.7);
	height: 10rem;
	width: 54%;
	position: absolute;
	top: 33%;
	left: 23%;
	z-index: 13;
	border-radius: 1rem;
}

.tag-line {
	display: flex;
	justify-content: center;
	margin: 1rem;
	color: #ffff;
}

.route-form {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 1.5rem;
}

label {
	display: flex;
	align-items: center;
	margin-right: 1rem;
}
